@import url('/public/css/index.css');
@import url('/public/css/nav.css');
@import url('/public/css/footer.css');
@import url('/public/css/buttons.css');

body {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 9em);
    background-color: white;
    margin-top: 9em;
    width: 80%;
    gap: 2em;
}

section {
    width: 100%;
    text-align: center;
}

section h1 {
    font-size: 2em;
}

@media only screen and (max-width: 992px) {
    main {
        flex-direction: column;
    }
}