@import url('/public/css/index.css');
@import url('/public/css/nav.css');
@import url('/public/css/footer.css');
@import url('/public/css/buttons.css');

body {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    background-color: white;
    margin-top: 100px;
}

main > h1 {
    margin-bottom: 1em;
    text-align: center;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 2em;
}

@media only screen and (max-width: 992px) {
    main {
        min-height: calc(100vh - 80px);
        margin-top: 80px;
        padding-bottom: 80px;
    }

    form {
        width: 100%;
    }

    button, input, select, textarea {
        max-width: 90%;
        min-width: 90%;
    }

    body {
        font-size: 16px;
    }
}