@import url('/public/css/index.css');
@import url('/public/css/nav.css');
@import url('/public/css/footer.css');
@import url('/public/css/buttons.css');
@import url('/public/css/grid.css');

body {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 80px);
    background-color: white;
    margin-top: 80px;
}

main .main-my-books-title-wrapper {
    margin-top: 2em;
}

main .main-my-books-title-wrapper h1 {
    font-size: 3em;
    font-weight: bold;
}

.main-my-books-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.main-my-books-title-wrapper ul {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
}

.main-my-books-title-wrapper ul > li {
    list-style: none;
}

.main-my-books-title-wrapper ul > li > a {
    position: relative;
    color: var(--gray-color-app);
    text-decoration: none;
}

.main-my-books-title-wrapper ul > li > a:hover {
    color: black;
    transition: 1s;
}

.main-my-books-title-wrapper ul > li > a.selected {
    color: black;
}

p.content-item-rating {
    width: 85%;
    border-radius: 10px;
    font-size: 1.2em !important;
    padding: 0.2em 0;
    font-weight: bold;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
}

.buttons {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttons button {
    background-color: white;
    border: none;
    display: grid;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1441px) {
    p.content-item-rating {
        width: 85%;
        font-size: 0.8em !important;
        font-weight: bold;
    }
}

@media only screen and (min-width: 2499px) {
    p.content-item-rating {
        font-size: 1.4em !important;
        height: 3em;
    }
}

@media only screen and (max-width: 431px) {
    p.content-item-rating {
        width: 85%;
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 992px) {
    main .main-my-books-title-wrapper h1 {
        font-size: 2em;
        font-weight: bold;
    }

    .main-my-books-title-wrapper {
        flex-direction: column;
    }

    .main-my-books-title-wrapper ul {
        margin-top: 0.5em;
        font-size: 1.2em;
    }
}